# Logs
logs
*.log
npm-debug.log*

assets/background.js
assets/content.js
assets/popup.js

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history